# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Mac OS
.DS_Store

# Output Reports
*.html
report.html

# Data Folders (Ignore CSV files and temp database folders to prevent committing large data)
*.csv
old_db/*
!old_db/.gitkeep
new_db/*
!new_db/.gitkeep
